.container {
    position: relative;
    margin: 0;
    width: 320px;
    height: 320px;
    border: solid 1px black;
    margin-bottom: 20px;
}
.box {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: blue !important;
    margin: 0;
}
button {
    margin-bottom: 10px;
    width: 200px;
    background: brown;
    border-radius: 8px;
    padding: 14px 40px;
    font-size: 20px;
}
button:hover {
    box-shadow: 10px 5px 5px red;
    transition: 0.3s ease-out;
}
.btn-block {
    padding: 20px;
    background: silver;
}